.body {
    display: flex;
    height: max-content;
}

/*
.filtro {
    background-color: purple;
    width: 300px;
    height: calc(100vh - 64px);
}
*/

.conteudo {
    width: 100%;
}

.conteudo main {
    /* border: 1px solid lime; */

    max-width: 900px;
    min-height: 100vh;
    max-height: none;
    
    margin: 0 auto;
    padding: 64px;
}

.adicionarAtivo {
    /* border: 1px solid purple; */

    padding: 20px;

    width: 100%;

    display: flex;
    justify-content: flex-end;
}

.botao {
    background-color: hsla(0, 0%, 85%, 0.5);

    width: 200px;
    height: 40px;

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3);

    font-family: var(--inter);
    font-size: 1em;
    font-weight: 700;
    color: black;

    cursor: pointer;
}

.listarAtivo {
    /* border: 1px solid orange; */

    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;

    padding: 20px;

}

@media screen and (max-width: 600px) {
    .conteudo main {
        padding: 32px;
    }
}