.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 100px;
    padding: 20px;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.tituloHome {
    color: #00A0B9;
    font-family: Zilla Slab;
}

.sobreHome {
    color: #7A7A7A;
    font-family: Bitter;
    font-size: 16px;
    justify-content: center;
}

.ativos,
.manutencoes,
.usuarios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 164px;
    height: 164px;
    background-color: var(--corPrimaria);
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

@media screen and (max-width: 650px) {
    .main {
        display: block;
        justify-content: center;
        padding: 100px 20px;
    }

    .tituloHome {
        text-align: center;
        justify-content: center;
    }

    .sobreHome {
        display: flex;
        width: 80%;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    .text {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5rem;
        width: 100%;
        margin-top: 2rem;
    }

    .button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        gap: 2rem;
    }

    .ativos,
    .manutencoes,
    .usuarios {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
    }
}