.usuario {
    width: 100%;
    height: 60px;

    border: 2px solid #b0a6a6;
    border-bottom: 3px solid #b0a6a6;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    font-family: var(--inter);

    text-decoration: none;

    cursor: pointer;
}

.usuario:hover, .estaInativo:hover {
    background-color: #f2f2f2;
}

.id {
    height: 100%;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1em;
    font-weight: 500;
    color: #666262
}	

.nome {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #000000;
    font-size: 1em;
    font-weight: 800;
}

.cargo {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #000000;
    font-size: 1em;
    font-weight: 800;
}

.estaAtivo{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #000000;
    font-size: 1em;
    font-weight: 800;
}

.estaInativo{
    width: 100%;
    height: 60px;

    border: 2px solid #b0a6a6;
    border-bottom: 3px solid #b0a6a6;
    border-radius: 10px;

    color: #666262 !important;
    font-size: 1em;
    font-weight: 800;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    font-family: var(--inter);

    text-decoration: none;

    cursor: pointer;
}

.estaInativo .id,
.estaInativo .nome,
.estaInativo .cargo,
.estaInativo .estaAtivo {
    color: #666262 !important;
}

@media (max-width: 800px) {
    .usuario {
        position: relative;
        flex-direction: column;
        height: auto;
        padding: 15px;
        padding-bottom: 20px;
    }

    .id {
        justify-content: left;
        margin-bottom: 10px;
    }

    .nome {
        width: 100%;
        margin-bottom: 10px;
    }

    .cargo {
        position: absolute;
        width: auto;
        height: auto;
        margin-bottom: 10px;
        top: 15px;
        right: 15px;
        font-weight: 400;
        color: #666262;
    }
    .estaInativo{
        position: relative;
        flex-direction: column;
        height: auto;
        padding: 15px;
        padding-bottom: 20px;
    }
}


