.body {
    display: flex;
    height: max-content;
}

.filtro {
    padding: 60px 20px;
    background-color: var(--corSecundaria);
    width: 300px;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filtro h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.inputs {
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0px;
}

.inputs > input, select {
    margin: 0 auto !important;
    padding: 0px 10px !important;
    border-radius: 20px;
    height: 40px !important;
    width: 180px !important;
    font-family: var(--inter);
    font-weight: 500 !important;
}

.inputs > select {
    color: #757575;
}

.escolhida {
    color: red;
}


.filtrar {
    display: flex;
    justify-content: space-between;
}

.filtrarPor {
    color: #757575;
}

.filtrar button {
    padding: 5px 20px;
    border: 2px solid transparent;
    color: white;
    background-color: var(--corPrimaria) !important;
    border-radius: 10px;
    font-weight: 600;
    background-color: transparent;
    transition: all ease-in-out 0.2s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.filtrar button:hover {
    background-color: white !important;
    border: 2px solid var(--corPrimaria);
    color: var(--corPrimaria);
}

.cargoCheck {
    padding: 10px 5px;
}

.cargoCheck ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.1em;
}

.cargoCheck ul li {
    display: flex;
    align-items: center;
}

.cargoCheck ul li input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

hr{
    margin: 0px !important;
}

.status {
    padding: 10px 5px;
    margin-top: 5%;
}

.status h4, .cargoCheck h4{
    margin-top: 0px !important;
    margin-bottom: 10%;
}

.status ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.1em;
}

.status ul li {
    display: flex;
    align-items: center;
}

.status ul li input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* -------------------- */

.conteudo {
    width: 100%;
}

.conteudo main {
    /* border: 1px solid lime; */

    max-width: 900px;
    min-height: 90vh;
    max-height: none;

    margin: 0 auto;
    padding: 64px;
}

.botoes {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
}

.adicionarUsuario {
    padding: 20px;

    width: 100%;

    display: flex;
    justify-content: flex-end;
}

.botaoFiltro {
    display: none;
}

.botao {
    background-color: var(--corPrimaria);
    width: 200px;
    border: 2px solid var(--corPrimaria);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3);
    font-family: var(--inter);
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.botao:hover {
    background-color: white;
    color: var(--corPrimaria);
}

.listarUsuario {
    /* border: 1px solid orange; */

    min-height: 300px;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;

    padding: 20px;
}

.semUsuarios {
    align-self: center;
    margin-top: 20%;

    font-family: var(--inter);
    font-weight: 400;
    text-align: center;
    text-justify: center;
    line-height: 1.5em;
    color: black;
}

.botaoPaginacao {
    padding: 10px 20px;
    background-color: var(--corPrimaria);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.botaoPaginacao:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.paginacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.botaoPaginacao:not(:disabled) {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--corPrimaria);
    border: 2px solid var(--corPrimaria);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3);
    font-family: var(--inter);
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.paginacao span {
    flex-grow: 1;
    text-align: center;
}

.botaoPaginacao:hover:not(:disabled) {
    background-color: white;
    color: var(--corPrimaria);
}

@media screen and (max-width: 700px) {
    .conteudo main {
        padding: 32px;
        width: 100%;
    }

    .filtro {
        display: none;
    }

    .botaoFiltro {
        display: block;
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .botoes{
        display: flex;
        width: 100%;
        justify-content: center;
        padding-right: 0px;
        font-size: 13px;
    }

    .botao{
        height: 55px;
        font-size: 1.1em;
        margin-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .botoes div {
        width: 50%;
        font-size: 0.9em;
    }

    .botoes div .botao {
        margin: auto;
    }

    .filtrarPor{
        margin: 0px !important;
        width: 100% !important;
    }

    .filtrarPor select{
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px 5px;
        margin: 10px 10px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
    }

    hr{
        margin: 0px !important;
    }

    .cargoCheck {
        padding: 10px 5px;
        justify-content: start !important;
        align-items: start !important;
        margin: 0px 15px;
    }

    .cargoCheck h4{
        margin-top: 0px !important;
        margin-bottom: 5%;
    }

    .cargoCheck ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 1.1em;
    }

    .cargoCheck ul li {
        display: flex;
        align-items: center;
    }

    .cargoCheck ul li input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .inputs select, input[type="date"], input[type="number"], input[type="text"], .filtrarPor{
        height: 40px !important;
        width: 100% !important;
        font-family: var(--inter);
        font-weight: 500 !important;
        box-sizing: border-box;
    }
}