.body {
    display: flex;
    height: max-content;
}

/* Filtros */

.filtro {
    padding: 60px 20px;
    background-color: var(--corSecundaria);
    width: 300px;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filtro h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.inputs {
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0px;
}

.inputs>input,
select {
    margin: 0 auto !important;
    padding: 0px 10px !important;
    border-radius: 10px !important;
    height: 40px !important;
    width: 180px !important;
    font-family: var(--inter);
    font-weight: 500 !important;
}

.inputs>select {
    color: #757575;
}

.escolhida {
    color: red;
}

.filtrar {
    display: flex;
    justify-content: space-between;
}

.filtrar button {
    padding: 5px 20px;
    border: 2px solid transparent;
    color: white;
    background-color: var(--corPrimaria) !important;
    border-radius: 10px;
    font-weight: 600;
    background-color: transparent;
    transition: all ease-in-out 0.2s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.filtrar button:hover {
    background-color: white !important;
    border: 2px solid var(--corPrimaria);
    color: var(--corPrimaria);
}

.modal .inputs {
    height: auto;
}

.modal .filtrar {
    width: 100%;
}

/* -------------------- */

.conteudo {
    width: 100%;
}

.conteudo main {
    /* border: 1px solid lime; */

    max-width: 900px;
    min-height: 90vh;
    max-height: none;

    margin: 0 auto;
    padding: 64px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.adicionarUsuario {
    /* border: 1px solid purple; */

    padding: 20px;

    width: 100%;

    display: flex;
    justify-content: flex-end;
}

.botaoFiltro {
    display: none;
}

.botao {
    background-color: var(--corPrimaria);

    width: 200px;

    border: 2px solid var(--corPrimaria);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3);

    font-family: var(--inter);
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;

    cursor: pointer;

    transition: background-color 0.3s, color 0.3s;
}

.botao:hover {
    background-color: white;
    color: var(--corPrimaria);
}

.listarUsuario {
    /* border: 1px solid orange; */

    min-height: 300px;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;

    padding: 20px;
}

.semUsuarios {
    align-self: center;
    margin-top: 20%;

    font-family: var(--inter);
    font-weight: 400;
    text-align: center;
    text-justify: center;
    line-height: 1.5em;
    color: black;
}

@media screen and (max-width: 800px) {
    .conteudo main {
        padding: 32px;
    }

    .filtro {
        display: none;
    }

    .botaoFiltro {
        display: block;
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .botoes {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
    }

    .botoes div {
        width: 50%;
        font-size: 0.9em;
    }

    .botoes div .botao {
        margin: auto;
    }
}